.BareNav {
  border: 1px solid;
  overflow: hidden;
  background-color: #020203;
  height: 80px;
  display: flex;
  align-items: center;

  .logo {
    width: 12%;
    text-align: center;

    img {
      width: 100%;
    }
  }

  .navige {
    width: 100%;
    text-align: center;

    ul {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      list-style-type: none;

      a {
        text-decoration: none;
        padding: 10px;

        li {
          color: rgb(255, 255, 255);
          transition: 0.2s;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
      .nav-active {
        position: relative;

        &::after {
          content: "";
          height: 4px;
          width: 0;
          background: rgb(255, 255, 255);
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;

          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
