.courbouPERFORMANCE2 {
  background-color: #2b2b2b;
  border-radius: 5px;
 // padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;

}

.recharts-wrapper {
  border-radius: 5px;
}
