.courbouLineChart1 {
  background-color: #ff0000;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;


  .chart-title {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: rgba(255, 255, 255, 0.438);
    position: absolute;
    width: 50%;
    left: 30px;
    top: 25px;
  }

  .custom-tooltip {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    color: #000;
  }

  .courbeSessions .recharts-surface {
    overflow: visible;
  }

  .courbeSessions .recharts-tooltip-wrapper {
    outline: none;
  }
  // @media (max-width: 1024px) {
  //   .courbouLineChart .recharts-responsive-container {
  //     background-color: blue;
  //     width: 25%;
  //   }
  // }
}
