.courbeSessions1 {
  //height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .courbouLineChart {
    width: 30%;
    height: 100%;
  }
  .courbouPERFORMANCE {
    //border: 1px solid;
    width: 30%;
    height: 100%;
  }
  .objectif {
    width: 30%;
    height: 100%;
  }
  // @media (max-width: 1024px) {
  //   border: 1px solid;
  //   flex-direction: column;

  //   .courbouLineChart {
  //     width: 100%;
  //   }
  // }
}
