.courbeSessions {
  height: auto;
  display: flex;
  justify-content: space-between;

  .courbouLineChart {
    width: 30%;
    height: 100%;
  }
  .courbouPERFORMANCE {
    //border: 1px solid;
    width: 35%;
    height: 100%;
  }
  .objectif {
    width: 30%;
    height: 100%;
  }
}
