.containerInfo {
  width: 85%;
  height: 100vh;
  position: absolute;
  transform: translate(12%, 4%);
  //overflow: hidden;

  h1 span {
    color: #e60000;
  }

  .containerGraph {
    grid-gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    //overflow: hidden;

    .firstContenaire {
      width: 80%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .secondContenaire {
      width: 20%;
      height: 76vh;

      .calories {
        height: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
