.objectif1 {
  background-color: #eeeeee5b;
  border-radius: 15px;
  padding: 1px;
  text-align: center;
  position: relative;
  overflow: hidden;

  .chart-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #20253a;
    text-align: start;
    width: auto;
  }

  .objectif-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #20253a;
  }

  .objectif-text p {
    margin: 0;
  }

  .objectif-text span {
    font-size: 14px;
    color: #74798c;
  }
}
